version: "3.8"

services:
  source_postgres:
    image: postgres:13
    container_name: source_postgres
    environment:
      POSTGRES_USER: source_user
      POSTGRES_PASSWORD: source_password
      POSTGRES_DB: source_db
    ports:
      - "5432:5432"
    volumes:
      - ./data/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - elt_network

  destination_postgres:
    image: postgres:13
    container_name: destination_postgres
    environment:
      POSTGRES_USER: dest_user
      POSTGRES_PASSWORD: dest_password
      POSTGRES_DB: dest_db
    ports:
      - "5433:5432"
    networks:
      - elt_network

  elt_script:
    build:
      context: ./elt/
      dockerfile: Dockerfile
    container_name: elt_script
    depends_on:
      - source_postgres
      - destination_postgres
    networks:
      - elt_network
    command: ["python", "elt_script.py"]
  
  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:latest
    container_name: dbt
    working_dir: /dbt
    command: [ "run", "--profiles-dir", "/root/.dbt", "--project-dir", "/dbt"]
    networks:
      - elt_network
    volumes:
      - ./custom_postgres:/dbt
      - ${USERPROFILE}\.dbt:/root/.dbt
    depends_on:
      - elt_script

networks:
  elt_network:
    driver: bridge
    name: elt_network
